.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #000000;
    position: absolute;
    z-index: 2;
  }
  
  /* Creates a small triangle extender for the tooltip 
  It says that width is ignored, but it is not!
  */
  .d3-tip:before {
    box-sizing: border-box;
    display: inline;
    font-size: 15px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    content: "\25B2";
    position: absolute;
    z-index: 0; 
    text-align: center;
  }

  .d3-tip.s:before {
    top: -50%;
    left: 0;
  }
  
