.questionmenu{
    min-height: 600px;
    background: #dff179;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-inline {
    width: 90%;
  }
  
  .form-group {
    width: 96%;
    align-items: center;
    align-self: center;
  }
  
  .input-group {
    width: 60% !important;
  }
  
  .form-control {
    width: 100% !important;
  }
  
  span.input-group-addon {
    width: 200px !important;
  }
